<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.dao.UserMapper">
    <sql id="selectList">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
<select id="selectById" parameterType="int" resultType="com.jia.pojo.User">
    select <include refid="selectList"/>
    from user where id = #{id};
</select>

    <select id="selectByName" parameterType="int" resultType="com.jia.pojo.User">
        select <include refid="selectList"/>
        from user where username = #{username};
    </select>

    <select id="selectByEmail" parameterType="int" resultType="com.jia.pojo.User">
        select <include refid="selectList"/>
        from user where email = #{email};
    </select>

<insert id="insrtUser" parameterType="com.jia.pojo.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (<include refid="selectList"></include>)
    values (#{username},#{password},#{salt},#{email},#{type},#{status},
    #{activationCode},#{headerUrl},#{createTime});
</insert>

    <update id="insertStatus" >
        update user set status = #{status} where id = #{id};
    </update>

    <update id="insertHeader" >
        update user set header_url = #{headerUrl} where id = #{id};
    </update>

    <update id="insertPassword" >
        update user set password = #{password} where id = #{id};
    </update>
</mapper>